<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table
        style="
        border-collapse: collapse;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.4;
        color: #333;
      "
>
    <thead>
    <tr>
        <th
                style="
              background-color: #f2f2f2;
              padding: 10px 15px;
              text-align: center;
              border-bottom: 1px solid #ddd;
            "
        >
            <img
                    src="https://media.istockphoto.com/id/1127945280/vector/vector-illustration-of-the-pattern-of-the-gray-lines-abstract-background-eps10-the-pattern.jpg?s=612x612&w=0&k=20&c=tsFidxt_lm5jTjX9d0wtJO0o9wm4-Jx2Jid4lJkJAJA="
                    alt="Логотип"
                    width="100"
                    height="100"
            />
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td
                style="
              padding: 20px 15px;
              text-align: center;
              border-bottom: 1px solid #ddd;
            "
        >
            <h1 style="margin-top: 0">Добро пожаловать!</h1>
            <p>
                Спасибо за регистрацию на нашем сайте. Мы рады приветствовать вас
                в нашем сообществе.
            </p>
            <p>
                Ваш логин: <strong>{{.Name}}</strong>
            </p>
            <p>
                Если у вас возникнут какие-либо вопросы, не стесняйтесь
                связаться с нами.
            </p>
        </td>
    </tr>
    <tr>
        <td
                style="
              padding: 20px 15px;
              text-align: center;
              border-bottom: 1px solid #ddd;
            "
        >
            <p style="margin-bottom: 0">
                Это автоматическое сообщение, пожалуйста, не отвечайте на него.
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>